**/output
**/__pycache__/
_vimrc_local.vim
NERD_tree_*
*.log
*.wav
*.key
*.rpt
*.svf
*.vcd
*.db
*.sdb

.restartSimSession.tcl.old
.synopsys_dve_rebuild.tcl
ucli.key
simv
*.bak
inter.vpd
**/Sim
**/asap7_dir
**/csrc
**/simv.daidir
**/DVEfiles
**/work
fp_inverse_pkg.sv
wavetable_pkg.sv

**/db
**/incremental_db
**/simulation
**/output_files
**/.vscode